LlamaV-o1/bin/
LlamaV-o1/lib/
LlamaV-o1/lib64/
LlamaV-o1/include/
LlamaV-o1/share/
LlamaV-o1/eval/slurm-*
LlamaV-o1/.env
LlamaV-o1/LlamaV-o1-env/
SciVQA/*
!SciVQA/scoring.py
SciVQA-inference/slurm-*
SciVQA-inference/inference*.sh